Repository sungju-kim/NotiFisor, pull requests merged in 2022-10, with the labels that each got.

#13 Slide 메뉴뷰 구현
  Notifisor/Notifisor/Main/ContentView.swift
  Notifisor/Notifisor/View/Today/DailyNoticeView.swift
  Notifisor/Notifisor/View/Today/MenuView.swift
Labels: feature, view

#15 Menu View 관련 수정 사항 반영
  Notifisor/Notifisor/Main/ContentView.swift
  Notifisor/Notifisor/View/Today/DailyNoticeView.swift
  Notifisor/Notifisor/View/Today/MenuView.swift
Labels: feature, view, refactor

#28 [Notification] NoticeEditView에서 Notice 생성시 알림 등록 로직 구현
  Notifisor/Notifisor.xcodeproj/project.pbxproj
  Notifisor/Notifisor/Model/Notification/NotificationManager.swift
  Notifisor/Notifisor/Model/NumbersOnly.swift
  Notifisor/Notifisor/Model/Repeat.swift
  Notifisor/Notifisor/NotifisorApp.swift
  Notifisor/Notifisor/View/EditNotice/NoticeEditView.swift
Labels: feature, model
